<nav id="friendssidebar" *ngIf="utils.sidebar"
class="navbar navbar-dark bg-inverse navbar-full animated"
[ngClass]="{
  'fadeInRight': utils.sidebar,
  'fadeOutRight': utils.fadeOut
}">
  <div class="row">
    <a class="navbar-brand">
      Editors
    </a>
    <button class="btn btn-danger pull-right btn-close" (click)="utils.hideSidebar()"><i class="fa fa-times" aria-hidden="true"></i></button>
  </div>
  <ul class="list-group mt-1">
    <li class="list-group-item space-between" *ngFor="let editor of editors">
      <img class="rounded" src="{{editor.photo}}" alt="{{editor.name}}">
      <div>{{editor.name}}<br>
        <div id="invite_buttons">
          <button class="btn btn-danger btn-sm" (click)="removeAsEditor(editor)">Remove</button>
        </div>
      </div>
    </li>
  </ul>
  <hr>
  <ul class="list-group">
    <li class="list-group-item space-between" *ngFor="let friend of friends">
      <img class="rounded" src="{{friend.picture.data.url}}" alt="{{friend.name}}">
      <div>{{friend.name}}<br>
        <div id="invite_buttons">
          <button *ngIf="invite_pending && invite_pending.indexOf(friend.id) >= 0" class="btn-sm btn-success btn disabled" (click)="inviteUserToEdit(friend.id)" disabled>invited</button>
          <button *ngIf="invite_pending && invite_pending.indexOf(friend.id) >= 0" class="btn-sm btn-warning btn" (click)="cancelInvite(friend.id)"><i class="fa fa-undo" aria-hidden="true"></i></button>
          <button *ngIf="!invite_pending || invite_pending.indexOf(friend.id) === -1" class="btn-sm btn-success btn" (click)="inviteUserToEdit(friend.id)">invite to edit</button>
        </div>
      </div>
    </li>
  </ul>
</nav>
