table{
  border-collapse: separate;
  width: 100%;
  border-spacing: 0;
  i{font-size:12px;}
}
.table-date-lg{width: 200px;}
.table-amount-lg{width: 175px;}
.table-amount-sm{width: 140px;}
.pointer{
   cursor: pointer;
}

.hoverable{
  position: relative;
  padding: 0;
  border: 0;
  border-spacing: 0;
  &:hover{
    box-shadow: 0 0 0 1px #0275d8;
    z-index: 2;
  }
  &:not(.editing){
    cursor: pointer;
  }
  &.editing{
    cursor: default;
    box-shadow: 0 0 0 1px #f0ad4e;
    z-index: 1;
  }
  & tr.edit-row td {
    // helps position the close button
    position: relative;
    padding: 1.25rem;
    .close{
      position: absolute;
      z-index: 1;
      top: 2px;
      right: 8px;
    }
  }
}
