table{
  border-collapse: separate;
  width: 100%;
  border-spacing: 0;
  i{font-size:12px;}
}
.table-date-lg, .table-amount-lg{width: 175px;}
.pointer{
   cursor: pointer;
}

// Large Screen Width Table
table.hidden-sm-down{
  tbody{
    .hoverable{
      padding: 0;
      border: 0;
      border-spacing: 0;
      &:hover{
        outline: 1px solid #0275d8;
      }
      &:not(.editing){
        cursor: pointer;
      }
      &.editing{
        cursor: default;
        outline: 1px solid #f0ad4e;
      }
    }
  }
}

// Small Screen Width Table
table.hidden-md-up{
  .table{
    cursor: pointer;
    &:hover{
      outline: 1px solid #0275d8;
    }
    &:not(.editing){
      cursor: pointer;
    }
    &.editing{
      cursor: default;
      outline: 1px solid #f0ad4e;
    }
  }
}