<loading *ngIf="!loaded"></loading>
<div [hidden]="!loaded" class="container mt-2">
  <ul class="list-unstyled space-between">
    <li class="mt-1" *ngFor="let bucket of buckets">
      <bucketcard [bucket]="bucket"></bucketcard>
    </li>
    <li class="mt-1" *ngFor="let invite of invitedTo">
      <invitecard [invite]="invite"></invitecard>
    </li>
    <li class="fake-li" aria-hidden="true"></li>
    <li class="fake-li" aria-hidden="true"></li>
    <li class="fake-li" aria-hidden="true"></li>
    <li class="fake-li" aria-hidden="true"></li>
  </ul>
</div>
