.vz-background{
  fill: white;
  fill-opacity: 0;
}
.vz-radial_progress-back-circle{
  fill: white;
  fill-opacity: 0;
}
.vz-radial_progress-track{
  fill: white;
  fill-opacity: 0;
}
.vz-radial_progress-label{
  fill: black !important;
}
