.viz-container{
  margin: 0 auto;
  position: relative;

  .viz-summary{
    text-align: center;
    width: 100%;
    position: absolute; bottom: 130px;
  }

  &.small{
    top: -15px;

    .viz-summary{
      font-size: 10px;
      position: absolute; bottom: 80px;
    }  
  }
}

.vz-background{
  display: none;
  // fill: white;
  // fill-opacity: 0;
}
.vz-radial_progress-back-circle{
  display: none;
  // fill: white;
  // fill-opacity: 0;
}
.vz-radial_progress-track{
  fill: #eceeef;
}
.vz-radial_progress-label{
  display: none;
  // fill: white !important;
}
