.viz-container{
  margin: 0 auto;
  position: relative;

  .viz-summary, .viz-type{
    width: 100%;
    position: absolute;
    text-align: center;
  }
  
  .viz-summary{
    bottom: 90px;
  }
  
  .viz-type{
    font-size: 72px;
    bottom: 120px;
    color: #eceeef;
  }

  &.small{
    top: -15px;

    .viz-summary{
      font-size: 12px;
      bottom: 70px;
    }
    
    .viz-type{
      font-size: 48px;
      bottom: 90px;
    }
  }
}

.vz-background{
  display: none;
  // fill: white;
  // fill-opacity: 0;
}
.vz-radial_progress-back-circle{
  display: none;
  // fill: white;
  // fill-opacity: 0;
}
.vz-radial_progress-track{
  fill: #eceeef;
}
.vz-radial_progress-label{
  display: none;
  // fill: white !important;
}

.btn-close{
	position: absolute;
	top: 0; right: 0;
	margin: 6px 6px 0 0;
	padding: 0.15rem .35rem;
}
