<div class="flip-container" [ngClass]="{'flipped': isFlipped}">
  <div class="flipper">
    <div class="card card-front" (click)="enterBucket()">
      <button class="btn-close btn btn-primary btn-small pull-right" (click)="flip($event)">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </button>
      <div class="card-block">
        <h4 class="card-title">{{bucket?.name}}</h4>
        <div class="card-block p-0">
          <circlechart *ngIf="bucket.type === 'monthly'"
          [total]="total"
          [type]="'monthly'"
          [amount]="bucket.budget"
          [size]="'small'"
          [key]="bucket.$key">
          </circlechart>
          <circlechart *ngIf="bucket.type === 'savings'"
          [total]="total"
          [type]="'savings'"
          [amount]="bucket.goal"
          [size]="'small'"
          [key]="bucket.$key">
          </circlechart>
        </div>
      </div>
    </div>
    <div class="card card-back card-inverse">
    <button class="btn-close btn btn-danger btn-small pull-right" (click)="flip()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
      <div class="card-block">
      <form (ngSubmit)="saveBucket(saveBucketForm, firstInput)" #saveBucketForm="ngForm" class="mt-1">
        <div class="form-group">
          <label for="name">Bucket Name</label>
          <input #firstInput id="name" type="text" class="form-control" name="name" [(ngModel)]="name" autocomplete="off" required>
        </div>
        <div *ngIf="bucket.type === 'monthly'" class="form-group">
          <label for="budget">Monthly Budget</label>
          <input id="budget" type="number" class="form-control" name="budget" [(ngModel)]="budget" autocomplete="off" min=1 required>
        </div>
        <div *ngIf="bucket.type === 'savings'" class="form-group">
          <label for="goal">Savings Goal</label>
          <input id="goal" type="number" class="form-control" name="goal" [(ngModel)]="goal" autocomplete="off" min=1 required>
        </div>
        <button type="submit" class="btn btn-success btn-block">Save Bucket</button>
      </form>
      </div>
    </div>
  </div>
</div>
