#addbucketbutton{
  position: absolute;
  bottom: 20px;
  right: 20px;
  @media (min-width: 576px) {
    bottom: 40px;
    right: 60px;
  }
}

#addbucketdrawer{
  position: fixed;
  bottom: 0;
  left: 0; right: 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  z-index: 1100;
}

form{
  label{
    color: white;
  }
  input, button{
    max-height: 38px;
  }
}

@media (min-width:992px){
  form{
    display: flex;
    justify-content: space-between;
    .name{
      flex: 1;
      padding-right: 30px;
    }
    .row > div{
      padding-left: 0;
      width: auto;
      input, .input-group-addon{width: auto;}
    }
    button{
      margin: 32px 0 0 15px;
    }
  }
}

