<button *ngIf="!utils.drawer"
  class="animated btn btn-success btn-round"
  [ngClass]="{
    'fadeIn': !utils.overlay
  }"
id="addbucketbutton" (click)="showDrawer()">
  <i class="fa fa-plus" aria-hidden="true"></i>
</button>

<div *ngIf="utils.drawer" id="addbucketdrawer"
  class="animated"
  [ngClass]="{
    'fadeInUp': utils.overlay,
    'fadeOutDown': !utils.overlay && utils.drawer
  }"
>
  <div class="nav navbar-dark bg-inverse navbar-full">
    <button class="btn-close btn btn-danger btn-small pull-right" (click)="hideDrawer()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
    <div class="container py-2">
      <form (ngSubmit)="addBucket(addBucketForm, firstInput)" #addBucketForm="ngForm">
        <div class="form-group name">
          <label for="name">Bucket Name</label>
          <input #firstInput id="name" type="text" class="form-control" name="name" [(ngModel)]="name" autocomplete="off" placeholder="Enter a new bucket name here..." required>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label for="name">Bucket Type</label>
              <select class="form-control custom-select" name="type" [(ngModel)]="type" required>
                <option value="monthly" selected>Monthly</option>
                <option value="savings">Savings</option>
              </select>
            </div>
          </div>
          <div class="col-xs-6">
            <div *ngIf="type === 'monthly'" class="form-group">
              <div class="form-group">
                <label for="budget">Monthly Budget</label>
                <div class="input-group amount">
                  <span class="input-group-addon">$</span>
                  <input type="number" class="form-control" id="budget" name="budget" [(ngModel)]="budget" placeholder="#.##" step="0.01" min=1 autocomplete="off" required>
                </div>
              </div>
            </div>
            <div *ngIf="type === 'savings'" class="form-group">
              <div class="form-group">
                <label for="goal">Savings Goal</label>
                <div class="input-group amount">
                  <span class="input-group-addon">$</span>
                  <input type="number" class="form-control" id="goal" name="goal" [(ngModel)]="goal" placeholder="#.##" step="0.01" min=1 autocomplete="off" required>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-success pull-right">Add Bucket</button>
      </form>

    </div>
  </div>
</div>
